.footer {
	min-height: 520px;
	background-color: $gray-backgr;
	padding: 20px;

	.social {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		width: fit-content;
		margin: 52px auto 30px;
	}

	.social__button {
		@extend %social-btn;
		@extend %orange-btn;
		box-shadow: none;
	}

	.social__btn_fb {
		@include backgr-social('../assets/svg/fb.svg');
	}

	.social__btn_vk {
		@include backgr-social('../assets/svg/vk.svg');
	}

	.social__btn_ig {
		@include backgr-social('../assets/svg/ig.svg');
	}
}
