.main-header {
	position: absolute;
	top: $header-indent-vertical;
	left: $header-indent-horizontal;
	width: calc(100vw - 2 * $header-indent-horizontal);
	height: $header-height;
	z-index: $header-zindex;
	pointer-events: none;

	.menu {
		@extend %flex-spaced;
	}

	.menu__logo {
		@extend %menu-link;
		width: $header-logo-width;
		height: $header-height;
		@include backgr-centered('../assets/svg/logotype.svg');
	}

	.menu__contacts {
		@extend %menu-link;
		@extend %flex-centered;
		@extend %font-bigger;
		line-height: calc($font-size-small + 4px);
		padding-bottom: 5px;

		@include icon-before('../assets/svg/phone.svg', $phone-icon-size, $phone-icon-size);

		&:hover {
			color: $color-orange;
		}
	}
}
