.subscribe-section {
	@extend %narrow-container;
	max-width: 1000px;
	padding: 0 10px;
	margin-top: 160px;
	margin-bottom: 134px;

	.subscribe-section-inner {
		position: relative;
		min-height: 647px;
		border: $border-width-standard solid $color-lightgreen;
	}

	.title {
		text-align: center;
		margin: -25px auto 5px;
		background-color: $color-white;
		width: fit-content;
		padding: 0 15px 0 20px;
	}

	.subtitle {
		color: $color-black;
		margin: auto;
		width: fit-content;
		@extend %flex-centered;
		margin-top: 15px;
		margin-bottom: 50px;

		&:before {
			@extend %pseudo-img;
			width: 46px;
			height: 69px;
			margin-right: 18px;
			@include backgr-centered('../assets/svg/door.svg');
		}
	}

	.submission-form {
		@extend %flex-col;
		margin: 15px auto 10px;
		max-width: 520px;
		padding: 10px;
		background-color: $color-white;
		transition: opacity $duration-normal;
	}

	.submission-field {
		position: relative;
	}

	.submission-field__inner {
		height: $form-field-height;
		margin-bottom: $form-field-margin;
		border-radius: 4px;
		border: 1px solid $color-gray-form;
		font-size: 1.12rem;
		padding: 10px 24px;
		width: 100%;

		&:hover,
		&:focus,
		&:focus-visible,
		&:active {
			border: 1px solid $color-orange;
			outline: 0;
		}

		&:focus {
			&::placeholder {
				opacity: 0;
			}
		}

		&::placeholder {
			color: $color-gray-light;
			transition: $duration-fast opacity;
		}

		&:focus + .submission-field__label,
		&:not(:placeholder-shown) + .submission-field__label {
			opacity: 1;
			top: -10px;
		}

		&:focus + .submission-field__label {
			color: $color-orange;
		}
	}

	.submission-field__label {
		font-size: 0.8rem;
		display: block;
		padding: 5px;
		background-color: $color-white;
		position: absolute;
		top: 20px;
		color: $color-gray-light;
		cursor: text;

		opacity: 0;
		transition: $duration-fast top, $duration-fast opacity;

		height: 1rem;
		left: 20px;
		z-index: $subscribe-labels-zindex;
	}

	.submission__form-button {
		@extend %orange-btn;
		border: 0;
		width: 250px;
		height: 51px;
		border-radius: 100px;
		color: $color-white;
		margin: 18px auto auto;
	}

	.submission-form__disclaimer {
		@extend %form-disclaimer;
		margin-top: 24px;
		margin-bottom: 5px;
		color: $color-gray-light;
	}

	.submission-form__policy {
		@extend %form-disclaimer;
		color: $color-orange;
	}

	.submission-success {
		@extend %flex-col;
		height: 100%;
		margin: auto;
		background-color: $color-white;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	#subscribe {
		z-index: $subscribe-header-zindex;
		position: relative;
	}

	.submission-success__logo {
		width: 220px;
		height: 143px;
		margin: 5px auto 20px auto;
		@include backgr-centered('../assets/svg/checkmark.svg');
	}

	.submission-success__message {
		text-transform: uppercase;
		line-height: 1.5rem;
		letter-spacing: 0.65px;
		text-align: center;
	}
}
