$header-height: 100px;
$footer-height: 60px;
$container-width: 1200px;
$inner-container-indent: 10px;

$bluefont: darkblue;
$graylight: #cfcfcf;
$gray-backgr: #eee;

$default-font: 'GoogleSans', sans-serif;
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
