@font-face {
	font-family: 'MullerRegular';
	src: url('../assets/fonts/MullerRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'MullerMedium';
	src: url('../assets/fonts/MullerMedium.ttf') format('truetype');
}
