@font-face {
	font-family: 'Muller';
	src: url('../assets/fonts/MullerRegular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Muller';
	src: url('../assets/fonts/MullerMedium.ttf') format('truetype');
	font-weight: 500;
}
