* {
	font-family: $default-font;
}

%font-bigger {
	font-size: $menu-font-size;
}

%font-bigger-spaced {
	@extend %font-bigger;
	letter-spacing: -0.01px;
}

%font-biggest {
	font-size: $font-size-biggest;
	letter-spacing: -0.5px;
}
